body{
	font-family: Serif;
	padding: 0px;
	margin:20px 200px 50px 200px;
	background-image: url("plain-black-05.jpg");

	}
header{
	text-align: left;
	background-color: white;
	Margin:5px;
	height:50x;
	text-align: center;
}

h2{
	font-family:"Times New Roman", Times, serif;
	font-style: italic;
	font-size: 30px;
	font-weight: bold;
	background-color: white;
	}

.maincontain{
	height: 450px;
	text-align: center;
	background-color: white;
	Margin: 5px;
	}


footer{

	text-align: center;
	height:50px;
	margin:5px;
	background-color: white;
